@charset "utf-8";
/*================
 PC、スマホ共通スタイル
=================*/
* {
  box-sizing: border-box;
}

body {
  max-width: 1080px;
  margin: 0 auto 0 auto;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;
  font-size: 15px;
}

/* ヘッダー */
header {
  display: flex;
  justify-content: space-between;
}

/* ナビゲーションのレイアウト */
#nav-pc {
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}

/* ナビゲーションのリンクの装飾設定 */
#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  margin-left: 20px;
  list-style: none;
}

#nav-pc a {
  text-decoration: none;
  color: #04414A;
}

#nav-pc a:hover {
  text-decoration: underline;
}


/* メイン */
#main-visual {
    position: relative;
    height: 400px;
}

/* メインメッセージ */
#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04414a;
    color: #ffffff;
    border-radius: 0 0 150px 0;
    width: 100%;
    height: 100%;
    max-width: 620px;
    z-index: 11;
}

#main-message h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0 0 50px;
}

#main-message p {
    font-size: 28px;
    margin: 0 0 0 50px;
}

#main-visual img {
    max-width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}


/* 見出し */
h2 {
    margin: 40px 0 0 0;
}

h2::after {
    content: url('images/line.png');
    margin: 0 0 0 10px;
}

h3 {
    font-size: 27px;
}


/* コンセプトセクション */
#concept {
    margin: 80px auto 0 auto;
    padding: 10px 40px 0px 40px;
}

#concept-flex {
    display: flex;
    text-align: center;
}

#concept-flex > div {
    width: 50%;
    margin: 20px;
}

.concept-photo {
    width: 80%;
}


/* プロダクト */
#product {
  background-color: #fafafa;
  margin: 20px 0 80px 0;
  padding: 10px 40px 0 40px;
}

#product > div {
  display: flex;
  margin-top: 40px;
}

#product-left {
  width: 50%;
  margin: 0 20px 0 0;
}

#product-right {
  width: 50%;
  margin: 80px 0 0 20px;
}

#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

#product-right > div {
  position: relative;
  height: 480px;
  margin-left: 20px;
}

.product-photo {
  width: 100%;
}

.product-explain {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 50px;
  margin: 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
}

.product-explain > span {
  color: #04414A;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.product-explain > h3 {
  margin: 5px 0;
}

.product-explain > p {
  margin: 0;
}


/* カンパニー */
#company {
  margin: 80px auto;
  padding: 10px 40px 0 40px;
}

#company-table {
  width: 100%;
}

.tableheader {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #04414A;
  width: 100px;
}

.tableheader-first {
  border-top: 1px solid #04414A;
}

.cell {
  padding: 30px;
  border-bottom: 1px solid #ececec;
}

.cell-first {
  border-top: 1px solid #ececec;
}


/* フッター */
footer {
  background-color: #04414A;
  text-align: center;
  padding: 80px 80px 30px 80px;
}

#footer-logo {
  margin-bottom: 30px;
}

#footer-link {
  margin-bottom: 50px;
}

#footer-link > a {
  text-decoration: none;
  margin: 10px;
  color: #ffffff;
}

#footer-link > a:hover {
  text-decoration: underline;
}

#footer-sns {
  text-align: left;
  width: 100%;
}

#footer-sns > a {
  margin-right: 30px;
}

#footer-sns > p {
  float: right;
}

#copyright {
  color: #ffffff;
}



/* ===========
スマホ用スタイル
============= */
@media screen and (max-width: 767px) {
  
  #nav-pc li {
    margin: 0 10px;
  }

  /* メインビジュアル */
  #main-visual {
    position: relative;
    height: 470px;
    overflow: hidden;
  }

  /* メインメッセージ */
  #main-message {
    border-radius: 0 0 476px 0;
    height: 280px;
  }

  #main-message h1 {
    font-size: 28px;
    margin: 70px 0 0 20px;
  }

  #main-message p {
    font-size: 22px;
    margin: 0 0 0 20px;
  }

  #main-visual img {
    width: 100%;
    top: auto;
    right: 0;
    bottom: 0;
    border-radius: 476px 0 0 0;
  }


  /* 見出し */
  h2 {
    margin: 40px 0 0 20px;
  }

  h3 {
    font-size: 24px;
    margin: 10px 0 0 0;
  }


  /* コンセプト */
  #concept {
    margin: 20px auto 0 auto;
    padding: 0 20px 0 20px;
  }

  #concept-flex {
    flex-direction: column;
  }

  #concept-flex > div {
    width: 100%;
    margin: 0;
  }

  .concept-photo {
    width: 100%;
  }

  .concept h3 {
    padding: 0 20px 0 20px;
  }

  /* プロダクト */
  #product {
    margin: 0;
    padding: 10px 0 0 0;
  }

  #product > div {
    flex-direction: column;
    margin-top: 0;
  }

  #product h2 {
    margin-left: 20px;
  }

  #product-left,
  #product-right {
    width: 100%;
    margin: 0;
    padding: 0 20px 0 20px;
  }

  #product-left > div,
  #product-right > div {
    height: auto;
    margin: 0;
  }

  .product-explain {
    position: relative;
    width: 100%;
    margin: 0;
    bottom: 70px;
  }

  .product-explain > h3 {
    margin: 10px 0 10px 0;
  }


  /* カンパニー */
  #company {
    padding: 0 20px;
  }

  #company h2 {
    margin: 20px 0 20px 0;
  }

  .tableheader {
    width: 50px;
  }

  .tableheader-first {
    border-top: 1px solid #04414A;
  }

  .cell {
    padding: 20px;
  }


  /* フッター */
  footer {
    padding: 30px 20px 50px 20px;
  }

  #footer-link > a {
    display: block;
    margin: 0 20px 30px 0;
  }

  #copyright {
    font-size: 12px;
    margin-top: 30px;
  }

} /* スマホ用スタイル終了 */

